header,
main,
section,
footer,
article {
    display: block;
}

ul {
    list-style: none
}

* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}


/*main nav*/

.top_nav {
    background: #fff;
    box-sizing: border-box;
    max-height: 300px;
    width: 100%;
    margin-left: 0;
    padding: 0;
    margin-top: 0;
}

.create_logo {
    width: 130px;
    padding-right: 46px;
}

.main_menu li a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgba(49, 49, 49, 0.753);
    display: block;
    font-size: 17px;
    font-weight: 700;
    line-height: 54px;
    padding: 5px 30px;
    letter-spacing: 0.75px;
    display: inline-block;
    transition: 0.04s ease-in;
    text-transform: uppercase;
}

.main_menu li {
    transition: 0.04s ease-in;
}

.main_menu li:hover a {
    color: whitesmoke;
    text-transform: uppercase;
}

.main_menu li:hover {
    background: #383736;
}

.main_menu {
    display: flex;
    width: 75%;
}

.nav_wrapper {
    display: flex;
}

#hamburger {
    display: none;
    position: relative;
    top: 25px;
    right: 10px;
    z-index: 6;
    -webkit-user-select: none;
    user-select: none;
}

#hamburger input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    right: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 7;
    -webkit-touch-callout: none;
}

#hamburger span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #696969;
    border-radius: 0px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
}

#hamburger span:first-child {
    transform-origin: 0% 0%;
}

#hamburger span:nth-last-child(2) {
    transform-origin: 0% 100%;
}


/*hamburger animation*/

#hamburger input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

#hamburger input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#hamburger input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#hamburger_menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0px;
    padding-right: 50px;
    padding-top: 5px;
    background: #ffffff;
    transform-origin: 0% 0%;
    transform: translate(0, -1200%);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#hamburger_menu li:not(:first-child) a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgba(49, 49, 49, 0.753);
    display: block;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 0.75px;
    display: inline-block;
    text-transform: uppercase;
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 5px;
    padding-left: 25px;
    border-bottom: 1px solid rgba(156, 156, 156, 0.425);
    overflow: auto;
}

#hamburger_menu li:not(:first-child):hover a {
    color: whitesmoke;
    text-transform: uppercase;
    background: #383736;
}

#hamburger input:checked~ul {
    transform: none;
}

@media only screen and (min-width: 960px) {
    .top_nav {
        height: 66px;
    }
    .top_nav .nav_wrapper {
        padding: 0 20px;
        height: 100%;
    }
}

@media only screen and (max-width: 1135px) {
    .main_menu li a {
        padding: 5px 20px;
    }
}

@media only screen and (max-width:959px) {
    .main_menu {
        display: none;
    }
    .user {
        display: none;
    }
    .user_profile {
        display: none;
    }
    .user_profile section:first-child {
        display: none;
    }
    #hamburger_menu {
        display: block;
    }
    #hamburger {
        display: block;
    }
    footer {
        flex-direction: column;
    }
    footer .footer_s {
        display: none
    }
}

@media only screen and (max-width:959px) and (min-width:500px) {
    .text_block h1,
    h3 {
        font-size: 15px;
        letter-spacing: 2px;
    }
    .text_block button {
        margin: 6px 4px;
        padding: 4px 4px;
        font-weight: 700;
        font-size: 12px;
        letter-spacing: 0px;
        border-radius: 3px;
    }
}

@media only screen and (max-width:499px) {
    .text_block h1,
    h3 {
        font-size: 12px;
        letter-spacing: 0px;
    }
    .text_block button {
        margin: 3px 2px;
        padding: 2px 2px;
        font-weight: 700;
        font-size: 10px;
        letter-spacing: 0px;
        border-radius: 2px;
    }
   #explore_data #data_container li {
     width: 49%;
     height:44vw ;
    }
}

@media only screen and (max-width:413px) and (min-width:300px) {
   
}

@media only screen and (max-width:1784px) {
    .wrapper .cat_wrapper button {
        display: block
    }
}

.user {
    height: 100%;
    display: block;
    padding: 0;
    box-sizing: border-box;
    flex: 1;
}

.user_profile {
    height: 100%;
    float: right;
    padding: 8px;
    width: 50px;
    height: 50px;
}

.user_profile section:first-child {
    height: 100%;
    background-image: url("../images/creat1.jpeg");
    background-repeat: no-repeat;
    background-position: right;
    border-radius: 50px;
}


/*-------------------------------main content-------------------------------------------------*/


/*index */

.home_container {
    width: 100%;
    text-align: center;
    position: relative;
}

.home_container img {
    width: 100%;
}

.text_block {
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    z-index: 4;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 50px;
}

.text_block img {
    width: 100%;
}

.text_block h1,
h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
    color: #ffffff;
    padding-bottom: 2px;
    font-size: 5vw;

   
}


.text_block button {
    position: relative;
    display: block;
    height: 40%;
    width: 50%;
    margin: 10px 7px;
    padding: 5px 5px;
    font-weight: 700;
    font-size: 3vw;
    letter-spacing: 2px;
    color: #ffffff;
    border: 2px #ffffff solid;
    border-radius: 7px;
    text-transform: uppercase;
    outline: 0;
    overflow: hidden;
    background: none;
    z-index: 4;
    cursor: pointer;
    transition: 0.2s ease-in;
}

.fill:hover {
    color: whitesmoke;
    background: #383736;
    border-color: #383736;
}

.fill:before {
    content: "";
    position: absolute;
    background: #2c2b2b;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    transition: top 0.18s ease-in;
}

.fill:hover:before {
    top: 0;
}

.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.video-responsive iframe,
video {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}


/*explore*/

.wrapper {
    margin: 0 auto;
    max-width: 100%;
    margin-top: 2%;
    padding: 0 5% 0 5%;
    text-align: center;
}

.cat_container::-webkit-scrollbar {
    display: none;
}

.wrapper h1 {
    padding: 2%;
    font-size: 2vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #808080;
    text-align: center;
}

.cat_container {
    display: inline-block;
    max-width: 100%;
    text-align: center;
    white-space: nowrap;
    /* min-width: min-content;*/
    overflow: auto;
    margin: 0 auto;
}

.cat_container div {
    background: rebeccapurple;
    width: 160px;
    height: 160px;
    margin-bottom: 10px;
    border-left: 2px solid whitesmoke;
    display: inline-block;
}

.cat_wrapper {
    display: flex;
}

.cat_wrapper button {
    border: 0px solid #2c2b2b;
    border-radius: 0 0 0 0px;
    height: 160px;
    max-width: 100px;
    padding: 10px;
    font-size: 30px;
    font-weight: 700px;
    color: whitesmoke;
    background: #000000;
    display: none;
    
}

#explore_data {
    max-width: 100%;
    text-align: center
}

#explore_data h1 {
    padding: 2%;
    font-size: 2vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #808080;
}

#data_container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#data_container li {
    background-image: url("../images/photos.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center;
    width:24%;
    height: 15vw;
    margin-bottom: 10px;
    position: relative;
}
#data_container li:hover div {
    opacity: 0.5;
}
#data_container li div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(0, 0, 0);
  }

/*create*/

  .create_imgData{
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .clear {
    clear: both;
  }
  
  .container {
    margin: 0 0;
  }

  section.clear.content {
    padding: 100px;
  }
  section.clear.parallax {
    height: 850px;
    background-position:50% 50% ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  section.clear.parallax h1 {
    color: rgb(255, 255, 255);
    font-size: 4vw;
    padding-top: 10%;
    
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-shadow: 0 0 10px rgb(0, 0, 0);
  }
  .create_imgData h1:after{
    display: inline-block;
    content: "";
    border-top: 0.2vw solid black;
    border-bottom: 0.2vw solid black;
    width: 10vw;
    height: 1vw;
    align-content: center;
    margin: 0 0.4vw;
    transform: translateY(-0.5vw);
  }
.create_imgData h1:before  {
  
    display: inline-block;
    content: "";
    border-top: 0.2vw solid black;
    border-bottom: 0.2vw solid black;
    width: 10vw;
    height: 1vw;
    align-content: center;
    margin: 0 0.4vw;
    transform: translateY(-0.5vw);
}
  section.clear.parallax button {
    
    position: relative;
    display: block;
    height: 40%;
    width: 15%;
    margin: 10px 7px;
    padding: 5px 5px;
    font-weight: 700;
    font-size: 1vw;
    letter-spacing: 2px;
    color: #ffffff;
    border:2px #0c59cf solid;
    border-radius: 7px;
    text-transform: uppercase;
    outline: 0;
    overflow: hidden;
    background: #0c59cf;
    z-index: 4;
    cursor: pointer;

  }
  section.clear.parallax input {
    
    display: block;
    height: 40%;
    width: 25%;
    margin: 10px 7px;
    padding: 5px 5px;
    font-weight: 600;
    font-size: 1.7vw;

  
    border:2px #7c7c7c solid;
    border-radius: 4px;
    


  }
  section.clear.parallax h2 {
    color: rgb(255, 255, 255);
    font-size: 2vw;
    line-height: 60px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-shadow: 0 0 10px rgb(0, 0, 0);
  }
 .parallax-1 {
    background-image: url("../images/photos.jpg");
  }
  section.clear.parallax-2 {
    background-image: url("../images/theme.jpg");
  }
  section.clear.parallax-3 {
    background-image: url("../images/soundtrack.jpg");
  }
  section.clear.parallax-4 {
    background-image: url("../images/studio.jpg");
 
  }
  /* @media all and (min-width: 600px) {
    section.clear h2 {
      font-size: 42px;
    }
    section.clear p {
      font-size: 20px;
    }
    section.clear.parallax h1 {
      font-size: 20px;
    }
  }
  @media all and (min-width: 960px) {
    section.clear.parallax h1 {
      font-size: 160px;
    }
  } */


/*  light box*/


.modal {
    display: none;
    position: fixed;
    z-index: 6;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.91);
  }

  .modal_content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
    height: 80%;
    max-height: 1000px;
    display: flex;
    
  }

 
  .content_holder{
      flex:2;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .content_holder section{
      width: 95%;
  }
  .content_holder section:nth-child(1){
      flex: 1;
     
      border-bottom: 1px solid #d4d4d4;
  }
  .content_holder section:nth-child(2){
    flex: 7;
    
    overflow-y: auto;
    border-bottom: 1px solid #d4d4d4;
}
.content_holder section:nth-child(3){
    flex: 1;
    background: rgb(255, 255, 255);
    border-bottom: 1px solid #d4d4d4;
    
}
.content_holder section:nth-child(4){
    flex: 0.5;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.content_holder section:nth-child(4) input{
  border: 0px solid transparent;
height: 90%;
width: 80%;
margin-left:3px;

outline: transparent;

}

  .img_holder{
      flex:4;
      background: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  }
  .img_holder img{
      display: block;
    
      width: 100%;

     
  }
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 3vw;
    font-weight: bold;
    line-height: 0.5;
  }
  
  .close:hover,
  .close:focus {
    color: tomato;
    text-decoration: none;
    cursor: pointer;
  }












































/*--------------------footer-------------------------------------------------------------*/

footer {
    display: flex;
    width: 100%;
    max-height: 500px;
}

.footer_f {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5%;
}

.footer_f img {
    display: block;
    padding: 3% 3% 0px 3%;
}

.footer_f p {
    font-size: 20px;
    padding: 3%;
    text-align: center;
}

.footer_s {
    flex: 5;
    border-left: 2px solid black;
    border-right: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    height: 220px;
    margin-top: 1%;
}

.footer_s ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.footer_s ul li {
    padding: 7px;
}

.footer_s ul li:first-child {
    padding: 20px;
    font-size: 20px;
}

.footer_s ul li:last-child {
    padding-bottom: 0.1%;
}

.footer_t {
    flex: 2;
    margin-top: 0.5%;
    color: #606060;
    text-align: center;
}